@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* --primary: #37609c; */
  --primary  :#276ED9;
}

html,
body,
main {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
